body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
}

address {
  font-style: normal;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.input {
  font-family: inherit;
}

.fiedset {
  padding: 0;
  margin: 0;
  border: none;
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.section {
  padding: 96px 0px;
}

@media screen and (min-width: 1158px) {
  .section {
    padding: 120px 0px;
  }
}

/* Header */

.page-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
  padding: 24px 0;
  flex-direction: row;
  width: 115px;
}

.page-header {
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: #ffffff;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  position: relative;
  color: #404bbf;
}

.page-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-nav {
  display: flex;
  align-items: center;
}

.page-nav-list {
  display: none;
}

span.header-logo-color {
  color: #2e2f42;
}

.page-nav-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-nav-link.active {
  color: #404bbf;
}

.page-nav-link:hover,
.page-nav-link:focus {
  color: #404bbf;
}

.mobile-menu-btn {
  position: relative;
  display: block;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border: none;
  background-color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.mobile-menu-btn .icon {
  position: absolute;
  top: 0;
  right: 0;
  fill: #2f2f37;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-btn:hover .icon,
.mobile-menu-btn:focus .icon,
.mobile-menu-btn:active .icon {
  fill: #404bbf;
}

.page-address-list {
  display: none;
}

.page-address-link {
  color: #434455;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-address-link:hover,
.page-address-link:focus {
  color: #404bbf;
}

.page-address-link:active {
  color: #404bbf;
}

@media screen and (min-width: 768px) {
  .page-header {
    padding: 0;
  }

  .page-header .page-logo {
    margin-right: 120px;
  }

  .page-nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .page-nav-link {
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    padding: 24px 0;
  }

  .page-nav-link.active::after {
    position: absolute;
    bottom: -1px;
    content: '';
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }

  .page-address-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 12px;
  }

  .page-address-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }

  .mobile-menu-btn {
    display: none;
  }
}

@media screen and (min-width: 1158px) {
  .page-header .page-logo {
    margin-right: 76px;
  }

  .page-address-list {
    flex-direction: row;
    gap: 40px;
    padding: 24px 0;
  }

  .page-address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

.mobile-menu-window {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-window.is-open {
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.mobile-menu-container {
  position: absolute;
  background: #ffffff;
  display: flex;
  flex-wrap: wrap;
  top: 50%;
  left: 50%;
  width: 320px;
  height: 100%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 40px 16px;
  margin: auto;
}

.mobile-menu-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-bottom: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #e7e9fc;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.mobile-menu-close-btn .icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close-btn:hover,
.mobile-menu-close-btn:focus,
.mobile-menu-close-btn:active {
  border: none;
  background-color: #404bbf;
}

.mobile-menu-close-btn:hover .icon,
.mobile-menu-close-btn:focus .icon,
.mobile-menu-close-btn:active .icon {
  fill: #fff;
}

.mobile-menu-content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 168px;
}

.mobile-page-nav-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-page-nav-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #2e2f42;
}

.mobile-page-nav-link.active {
  color: #404bbf;
}

.mobile-page-nav-link:hover,
.mobile-page-nav-link:focus {
  color: #404bbf;
}

.mobile-page-nav-link.active {
  color: #404bbf;
}

.mobile-contact-container {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
}

.mobile-page-address-list {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  margin-bottom: 48px;
}

.mobile-page-address-link {
  color: #434455;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-page-address-link:hover,
.mobile-page-address-link:focus {
  color: #404bbf;
}

.mobile-page-address-link:active {
  color: #4d5ae5;
}

.mobile-menu-social-media-link-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.mobile-menu-social-media-link-list-item {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;

  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.mobile-menu-social-media-link-list-item .social-media-link .icon {
  fill: #f4f4fd;
}

.mobile-menu-social-media-link-list-item .social-media-link:hover,
.mobile-menu-social-media-link-list-item .social-media-link:focus,
.mobile-menu-social-media-link-list-item .social-media-link:active {
  background-color: #31d0aa;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* #endregion mobile-modal */

/* Hero */

.hero {
  max-width: 320px;
  background-color: #2e2f42;
  padding: 72px 0px;
  margin: 0 auto;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/laptop@1x.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/laptop@2x.jpg);
  }
}

.hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: #fff;
  max-width: 216px;
  padding-bottom: 72px;
}

.order-button {
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-button:hover,
.order-button:focus {
  background-color: #404bbf;
}

.order-button:active {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    padding: 112px 0;
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    padding-bottom: 36px;
  }
}

@media screen and (min-width: 1158px) {
  .hero {
    max-width: 1440px;
    padding: 188px 0;
  }

  .hero-title {
    padding-bottom: 48px;
  }
}

/* Benefits */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  outline-offset: 0;
}

.benefits-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

@media screen and (min-width: 768px) {
  .benefits-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
}
@media screen and (min-width: 1158px) {
  .benefits-list {
    gap: 24px;
  }
}

.benefits-item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .benefits-item {
    width: calc((100% - 1 * 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .benefits-item {
    width: calc((100% - 3 * 24px) / 4);
  }
}

.benefits-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 264px;
  height: 112px;
  border-radius: 4px;
  background: #f4f4fd;
  margin-bottom: 8px;
  border: 1px solid #8e8f99;
}

@media screen and (max-width: 1157px) {
  .benefits-container {
    display: none;
  }
}
.benefits-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.benefits-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

@media screen and (min-width: 768px) {
  .benefits-title {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .benefits-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .benefits-text {
    font-weight: 400;
  }
}

/* Our Team */

.team {
  background: #f4f4fd;
  padding: 96px 0;
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

@media screen and (min-width: 768px) {
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 64px 24px;
  }
}

@media screen and (min-width: 1157px) {
  .team {
    padding: 120px 0px;
    margin: 0;
  }
  .team-list {
    gap: 24px;
  }
}

.team-item {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-list-container {
  background-color: #fff;
  text-align: center;
  padding: 32px 0px;
}

.team-sub-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  background-color: #ffffff;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  background-color: #fff;
  color: #434455;
  margin-bottom: 8px;
}

.team-sl-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.team-sl-item {
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-sl-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-sl-link:hover,
.team-sl-link:focus {
  background-color: #404bbf;
}

.team-icon {
  fill: #f4f4fd;
}

/* Portfolio */

.portfolio {
  padding: 96px 0;
  background-color: #fff;
}

.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}

.portfolio-list-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-list-item-container {
  position: relative;
  overflow: hidden;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-img {
  display: none;
}

.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover .overlay-text {
  transform: translateY(0%);
}

.portfolio-text-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-sub-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.portfolio-mobile-img {
  height: 280px;
  object-fit: cover;
}
@media screen and (min-width: 768px) {
  .portfolio-list {
    gap: 72px 24px;
  }

  .portfolio-list-item {
    width: calc((100% - 24px) / 2);
  }

  .portfolio-mobile-img {
    height: 300px;
  }
}

@media screen and (min-width: 1158px) {
  .portfolio {
    padding: 120px 0;
  }

  .portfolio-list {
    gap: 48px 24px;
  }

  .portfolio-list-item {
    width: calc((100% - 2 * 24px) / 3);
  }
}
/* Footer */

.page-footer {
  background: #2e2f42;
  padding: 96px 0;
}
.page-footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px 0;
}

.page-footer .page-logo {
  display: block;
  text-align: center;
  margin-bottom: 16px;
}

span.footer-logo-color {
  color: #f4f4fd;
}
.page-footer-text {
  display: flex;
  max-width: 264px;
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* footer social media*/

.footer-social-media-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  text-align: center;
}

.footer-social-media-link-list {
  display: flex;
  gap: 16px;
}

.footer-social-media-link-list-item {
  width: 40px;
  height: 40px;
  background-color: #404bbf;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media-link .icon {
  fill: #f4f4fd;
}

.footer-social-media-link-list-item .social-media-link:hover,
.footer-social-media-link-list-item .social-media-link:focus,
.footer-social-media-link-list-item .social-media-link:active {
  background-color: #31d0aa;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.subscribe-title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;
}

.subscribe-input {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #2e2f42;
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  padding-left: 16px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  outline: none;
  background-color: transparent;
}

.subscribe-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}

.subscribe-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 165px;
  height: 40px;
  color: #ffffff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 8px 24px;
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: #404bbf;
}

.subscribe-button:active {
  background-color: #404bbf;
}

.subscribe-icon {
  fill: #ffffff;
  margin-left: 16px;
}

@media screen and (min-width: 768px) {
  .page-footer .container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
    align-items: baseline;
  }

  .footer-logo-container {
    padding-left: 92px;
  }

  .page-footer .page-logo {
    display: inline-block;
    margin-bottom: 16px;
  }

  .page-footer-text {
    min-width: 264px;
  }

  .footer-social-meadia-title {
    text-align: start;
  }

  .subscribe-container {
    padding-left: 92px;
  }

  .subscribe-form {
    flex-direction: row;
    gap: 24px;
  }

  .subscribe-title {
    text-align: start;
  }
}

@media screen and (min-width: 1158px) {
  .page-footer {
    padding: 100px 0;
  }

  .page-footer .container {
    flex-wrap: nowrap;
    gap: 0;
  }

  .page-footer .page-logo {
    display: inline-block;
    margin-bottom: 16px;
  }

  .footer-logo-container {
    padding-left: 0;
    margin-right: 120px;
  }

  .footer-social-media-container {
    margin-right: 80px;
  }

  .subscribe-container {
    padding-left: 0;
  }
}
/*#endregion footer */

/* #region modal */

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}
.order-service-dialog-container {
  position: absolute;
  background: #fcfcfc;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  width: 288px;
  min-height: 623px;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 72px 16px 24px 16px;
  margin: auto;
}

.order-service-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-bottom: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #e7e9fc;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.order-service-close-btn .icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-service-close-btn:hover,
.order-service-close-btn:focus,
.order-service-close-btn:active {
  border: none;
  background-color: #404bbf;
}

.order-service-close-btn:hover .icon,
.order-service-close-btn:focus .icon,
.order-service-close-btn:active .icon {
  fill: #ffffff;
}

.order-service-dialog-title {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 16px;
}

.order-service-input-container {
  margin-bottom: 8px;
}

.order-service-input-label {
  display: block;
  position: relative;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  text-align: left;
  margin-bottom: 4px;
}

.order-service-input-box {
  position: relative;
}

.order-service-input-box .icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-service-form-input {
  width: 100%;
  height: 40px;
  top: 18px;
  font-size: 18px;
  color: #2e2f42;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
  padding-left: 38px;
}

.order-service-form-input:focus {
  border: 1px solid #4d5ae5;
}

.order-service-form-input:focus-within + .icon {
  fill: #4d5ae5;
}

.order-service-textarea-container {
  margin-bottom: 16px;
}

.order-service-form-textarea {
  width: 100%;
  height: 120px;
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
  resize: none;
  outline: transparent;
  padding: 8px 16px;
}

.order-service-form-textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.order-service-form-textarea:focus {
  border-color: #4d5ae5;
}

.order-service-privacy-polyci-container {
  display: flex;
  margin-bottom: 24px;
  align-items: center;
}

.privacy-polyci-label {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.privacy-policy-link {
  color: #4d5ae5;
  text-decoration: underline;
}

span.checkbox-mark {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  margin-right: 8px;
}

.checkbox-text {
  display: inline-block;
  width: 232px;
}

.privacy-policy-checkbox:checked + .privacy-polyci-label span.checkbox-mark {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.send-form-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  background: #4d5ae5;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 16px 32px;
  margin: 0 auto;
}

.send-form-btn:focus,
.send-form-btn:hover {
  background-color: #404bbf;
}

@media screen and (min-width: 768px), (min-width: 1158px) {
  .order-service-dialog-container {
    width: 408px;
    min-height: 584px;
  }

  .order-service-dialog-container {
    padding: 72px 24px 24px 24px;
  }

  .checkbox-text {
    width: 100%;
  }
}

/* #endregion modal */
